<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <!--declaracion de la barra de menu-->
    <div class="container-fluid">
      <a class="navbar-brand" href="/miCuenta">DoorMaid</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <!--carga de los elementos para la barra de navegacion junto a sus hpervinculos-->
          <a class="nav-link <%=a1%>" href="/miCuenta">Inicio</a>
          <a class="nav-link <%=a2%>" href="/guia">Guia de configuración</a>
          <a class="nav-link <%=a3%>" href="/receptor/<%=id%>">Cámara Online</a>
          <a class="nav-link" href="/logout">Cerrar sesión</a>
        </div>
      </div>
    </div>
</nav>